* {
    margin: 0;
    padding: 0;
}

audio {
    display: none;
}

body {
    width: 50em;
    height: 50em;
    background: linear-gradient(90deg, white, white, #aaa, black);
}

.container {
    top: 10px;
    left: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container2 {
    position: relative;
    width: 95%;
    height: 95%;
    background: radial-gradient(#FFF, #BBB);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 32px 6px rgba(0, 0, 0, 0.89);
    border: 5px solid;
}

.clock {
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    position: relative;
    width: 5%;
    height: 5%;
    background: linear-gradient(45deg, #000, #555);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 4px #222;
    border: 1px solid #333;
}

.minuto {
    position: absolute;
    background: linear-gradient(45deg, #000, #555);
    width: 39%;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    transform-origin: 0%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    animation: minutillo 3600s linear infinite;
    animation-timing-function: steps(3600);
    box-shadow: 3px 6px 4px #222;
}

.hora {
    position: absolute;
    background: linear-gradient(45deg, #000, #555);
    width: 28%;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(170deg);
    transform-origin: 0%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    animation: horilla 43200s linear infinite;
    animation-timing-function: steps(43200);
    box-shadow: 3px 3px 4px #222;
}

.segundo {
    position: absolute;
    background: linear-gradient(0deg, #F00, #600);
    width: 50%;
    height: 2.5px;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    transform-origin: 30%;
    animation: segundillo 60s linear infinite;
    animation-timing-function: steps(30);
    box-shadow: 15px 9px 4px #222;
}

@keyframes segundillo {
    0% {
        transform: rotate(-90deg);
        box-shadow: 15px 9px 4px #222;
    }
    50% {
        transform: rotate(90deg);
        box-shadow: 0px -9px 4px #222;
    }
    100% {
        transform: rotate(270deg);
        box-shadow: 15px 9px 4px #222;
    }
}

@keyframes minutillo {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

@keyframes horilla {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

.button {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 3px 5px;
    background-color: red;
    border-radius: 10px;
}

.button:hover {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 3px 5px;
    background-color: darkred;
    border-radius: 10px;
    cursor: pointer;
}

.button a {
    color: white;
    text-decoration: none;
}

a {
    top: 20px;
    left: 10px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: red;
    text-decoration: none;
    padding: 0 5px;
}

a:hover {
    padding: 2ps 5px;
    background-color: red;
    color: white;
    border-radius: 20px;
}